<MudPaper>
    <MudToolBar>
        <MudTooltip Text="@TitleTooltip">
            <span>@Title</span>
        </MudTooltip>
        <MudSpacer />
        <MudIconButton Variant="@Variant.Outlined" Color="@Color.Default" Size="@Size.Small" OnClick="@CopyToClipboard" Icon="@Icons.Material.Filled.CopyAll" />
    </MudToolBar>
</MudPaper>

<div class="p-2" style="word-break: break-all;margin:5px">
    <pre>@CodeText</pre>
</div>

@code {
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public string? TitleTooltip { get; set; }
    [Parameter] public string CodeText { get; set; } = null!;

    [Inject] public JsRunTimeService JsService { get; set; } = null!;

    private async Task CopyToClipboard() => await JsService.WriteToClipboard(CodeText);
}
