@page "/summary/{dbName}/{*index}"
@using NBlog.sdk
@using NBlogWeb3.Components.Controls
@using Toolbox.Extensions
@using Toolbox.Tools
@using Toolbox.Types
@layout Layout.MainLayout
@rendermode InteractiveServer

<PageTitle>Kelvin Hoover</PageTitle>


@if (_articleIds != null && _flow.State == 2)
{
    <div class="x-body-container">
        <div class="summary-header-bar">
            <div class="summary-header-text-container">
                @if (_indexName.IsNotEmpty())
                {
                    <span class="summary-header-title">Viewing: </span>
                    <span class="summary-header-text">@_indexName</span>
                }
            </div>
            <button class="summary-header-button" type="button" @onclick=@HideAll>
                <svg class="bi f5"><use xlink:href="#dash-square"></use></svg>
            </button>
            <button class="summary-header-button" type="button" @onclick=@ShowAll>
                <svg class="bi f5"><use xlink:href="#plus-square"></use></svg>
            </button>
        </div>

        @foreach (var manifest in _articleIds.WithIndex())
        {
            <ArticleSummary ArticleId="@manifest.Item" Index="@manifest.Index" Attribute="@_attribute" DbName="@DbName" Collapse=@_collapse />
        }
    </div>
}
else
{
    if (_flow.State == 3)
    {
        <ShowRouteError Title="Cannot find area" />
    }
    else
    {
        <LoadingComponent />
    }
}

@code {
    [Parameter] public string? DbName { get; set; }
    [Parameter] public string? Index { get; set; }
    [CascadingParameter] public NBlogConfiguration NBlogConfiguration { get; set; } = null!;

    [Inject] private ArticleService _articleService { get; init; } = null!;
    [Inject] private ILogger<Home> _logger { get; init; } = null!;

    private SequentialState _flow = new SequentialState();
    private IReadOnlyList<string>? _articleIds = null!;
    private string? _attribute;
    private bool _collapse;
    private string _indexName = string.Empty;

    private void HideAll() => _collapse = true;
    private void ShowAll() => _collapse = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _flow.Reset();
            await Load();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task Load()
    {
        if (DbName == null) return;

        var context = new ScopeContext(_logger);
        if (!_flow.MoveState(1)) return;

        try
        {
            Index = Index switch
            {
                "home" => NBlogConfiguration.HomeIndex switch
                {
                    null => Index,
                    not null => NBlogConfiguration.HomeIndex,
                },
                string v => Index.Func(x => Uri.UnescapeDataString(x)),
                null => NBlogConfiguration.HomeIndex,
            };

            _indexName = Index!.Split('/') switch
            {
                { Length: < 2 } => string.Empty,
                { Length: 2 } v when v[1] == "home" => string.Empty,
                var v => v.Skip(1).Join(',').ToUpperFirstLetter(),
            };

            _articleIds = Index switch
            {
                string v when v != "home" => (await _articleService.GetIndexSummariesByName(DbName, v, context))
                    .OrderBy(x => x.OrderBy)
                    .Select(x => x.ArticleId)
                    .ToArray(),

                _ => (await _articleService.GetSummaries(DbName, context))
                    .OrderBy(x => x.OrderBy)
                    .Select(x => x.ArticleId)
                    .ToArray(),
            };

            if (Index?.EqualsIgnoreCase("home") == false && _articleIds.Count == 0)
            {
                _flow.SetState(3);
                return;
            }

            _attribute = _articleIds?.Count == 1 ? NBlogConstants.MainAttribute : null;
        }
        finally
        {
            _flow.MoveState(2);
            await InvokeAsync(() => StateHasChanged());
        }
    }
}
