@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.Extensions.Primitives;
@using TicketShareWeb.Components.Settings
@using Toolbox.Identity;

@implements IDisposable

@inject NavigationManager NavigationManager

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu"
                       Collapsible="true"
                       Width="250"
                       Title="Navigation menu"
                       Expanded="@_expanded"
                       ExpandedChanged="ExpandedChanged">

            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>

            <AuthorizeView>
                <Authorized>

                    <FluentNavLink Href="TicketGroups" Icon="@(new Icons.Regular.Size20.TicketDiagonal())" IconColor="Color.Accent">Tickets</FluentNavLink>
                    <FluentNavLink Href="Messages" Icon="@(new Icons.Regular.Size20.Comment())" IconColor="Color.Accent">Messages</FluentNavLink>
                    <FluentNavLink Href="UserAccount" Icon="@(new Icons.Regular.Size20.PersonAccounts())">Account</FluentNavLink>

                    <SiteSettings />

                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />

                        @if (_expanded)
                        {
                            <FluentButton Class="left-justified-button"
                                          Type="ButtonType.Submit"
                                          IconStart="@(new Icons.Regular.Size20.SignOut())"
                                          Appearance="Appearance.Outline"
                                          style="margin: 2px 0 0px 0; width: 100%">
                                Logout
                            </FluentButton>
                        }
                        else
                        {
                            <FluentButton Class="left-justified-button"
                                          Type="ButtonType.Submit"
                                          IconStart="@(new Icons.Regular.Size20.SignOut())"
                                          Appearance="Appearance.Outline"
                                          style="margin: 0px;">
                            </FluentButton>
                        }
                    </form>
                </Authorized>

            </AuthorizeView>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool _expanded = true;
    private string? currentUrl;
    [Inject] public AuthenticationStateProvider AuthenticationStateProvider { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _expanded = authState.User.Identity?.IsAuthenticated == true;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private void ExpandedChanged(bool value)
    {
        _expanded = value;
    }
}
